<%- include('../partials/header') %>
<!----------------REMAINING BALANCE---------------->
<% var balance1 = 0 %>
<% var balance2 = 0 %>
<% incomes.forEach(function(inc) { %> 
    <% balance1 += inc.amount %> 
<% }); %>
<% expenses.forEach(function(exp) { %> 
    <% balance2 += exp.amount %> 
<% }); %>

<table class="balance">
    <thead>
        <tr>
            <td > $ <%= (balance1 - balance2).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></td>
        </tr>
    </thead>
</table>

<h6>Remaining balance</h6>
<!----------------INCOMES---------------->
<section>
        <% var TotalIncome = 0 %>
        <% incomes.forEach(function(inc) { %>
            <% TotalIncome += inc.amount %>
        <% }); %>
        <div class="tables">
            <div class="list">
                <table>
                    <thead>
                        <tr>
                            <td>incomes</td>
                        </tr>
                        <tr>
                            <td class="total"><strong> $ <%= TotalIncome.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></strong></td>
                        </tr> 
                    </thead>
              
                    <a href="/incomes/new" <%- title === 'Add Income' ? 'class="active"' : '' %>>
                        <img style="float: right" src="images/add.png" alt="add income" />
                    </a>
                </table> 

            </div>
    
            <table>
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Date</th>
                    </tr>
                </thead>
    
                <tbody>
                    <% var TotalIncome = 0 %>
                    <% incomes.forEach(function(inc) { %>
                        <% TotalIncome += inc.amount %>
                        <tr>
                            <td> $ <%= inc.amount %></td>
                            <td>  <%= inc.name %></td>
                            <td>  <%= inc.date %></td>
                            <td class="details">
                                <a href="/incomes/<%= inc._id %>">
                                    <img src="images/details.png" alt="add income" />
                                </a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>

<!----------------EXPENSES---------------->
    <% var TotalExpense = 0 %>
    <% expenses.forEach(function(exp) { %>
        <% TotalExpense += exp.amount %>
    <% }); %>
    <div class="tables">
        <div class="list">
            <table>
                <thead>
                    <tr>
                        <td>Expenses</td>
                    </tr>
                    <tr>
                        <td class="total"><strong> $ <%= TotalExpense.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')%></strong></td>
                    </tr> 
                </thead> 
                <a href="/expenses/new" <%- title === 'Add Expense' ? 'class="active"' : '' %>>
                    <img style="float:right" src="images/add.png" alt="add expenses" />
                </a>
            </table> 
        </div>

        <table>
            <thead>
                <tr>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                <% var TotalExpense = 0 %>
                <% expenses.forEach(function(exp) { %>
                    <% TotalExpense += exp.amount %>
                    <tr>
                        <td> $ <%= exp.amount %></td>
                        <td>  <%= exp.name %></td>
                        <td>  <%= exp.date %></td>
                        <td class="details">
                            <a href="/expenses/<%= exp._id %>">
                                <img src="images/details.png" alt="add expense" />
                            </a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</section>
<%- include('../partials/footer') %>