<%- include('../partials/header') %>
<table id="list">
    <thead>
        <tr>
            <th>Store</th>
            <th>Date</th>
            <th>Amount</th>
        </tr>
    </thead>

    <tbody>
        <% expenses.forEach(function(exp) { %>
              <tr>
                  <td><%= exp.store %></td>
                  <td><%= exp.date %></td>
                  <td><%= exp.amount %></td>
                  <td><a href="/expenses/<%= exp._id %>">DETAILS</a></td>
              </tr>
          <% }); %>
        </tbody>
    </table>     
<%- include('../partials/footer') %>