<%- include('../partials/header') %>
<!----------------------------ADD NEW EXPENSE-------------------->
  <section id="show-page">
    <div id="header">
      <h1>Expense Details</h1>
    </div>

    <label>Name: </label>
    <div class="field"><%= expense.name %></div>
    <label>Date: </label> 
    <div class="field"><%= expense.date %></div>
    <label>Amount: </label> 
    <div class="field"> $ <%= expense.amount %></div>

    <label>Category: </label>
    <div class="field"><%- expense.category.map(c => `${c.name}`).join('') %></div>

<!----------------------------ADD CATEGORY-------------------->
    <form id="category-display" action="/expenses/<%= expense._id%>/categories" method="POST">
        <select name="categoryId">
            <%- categories.map(c => `<option value="${c._id}">${c.name}</option>`).join('') %>
        </select>
        <input class="addS" type="submit" value="Add Category">
    </form>
    

<!----------------------------ADD COMMENT-------------------->
  <label>Notes: </label>
  <% if (expense.comments.length) { %>
    <% expense.comments.forEach(function(c) { %>
      <div class="field"><%= c.content %></div>
    <% }); %>
  <% } %>

  <div id="line"></div>
  <br>

  <form method="POST"
    action="/expenses/<%= expense._id %>/comments">
    <label>Add Notes:</label>
    <textarea name="content"></textarea>

    <input class="addC" type="submit" value="Save">
  </form>

<!----------------------------DELETE-------------------->
  <!-- <form action="/expenses/<%= expense._id %>?_method=DELETE" method="POST" class="delete-content">
    <input class="addC" type="submit" value="Delete">
  </form> -->

<!----------------------------CLOSE--------------------> 
  <form action="/expenses">
    <input class="addC"  style="float: right" type="submit" value="Close">
  </form>
  
</section>

<%- include('../partials/footer') %>