<%- include('../partials/header') %>

    <section id="show-page">
        <div>Name: </div>
        <div><%= expense.store %></div>
        <div>Date: </div>
        <div><%= expense.date %></div>
        <div>Amount: </div>
        <div><%= expense.amount %></div>
        <div>Category: </div>
        <ul>
            <%- expense.category.map(c => 
                `<li>${c.name}</li>`
            ).join('') %>
        </ul>

    </section>

    <form id="add-cat-to-exp" action="/expenses/<%= expense._id%>/categories" method="POST">
        <select name="categoryId">
            <%- categories.map(c => `<option value="${c._id}">${c.name}</option>`).join('') %>
        </select>
        <button type="submit">Add to Category</button>
    </form>

<%- include('../partials/footer') %>