<%- include('../partials/header') %>

    <section id="show-page">
        <div>Store: </div>
        <div><%= expense.store %></div>
        <div>Date: </div>
        <div><%= expense.date %></div>
        <div>Amount: </div>
        <div><%= expense.amount %></div>
        <!-- <div>Category: </div>
        <div></div>
        <div>Comment: </div> -->
    </section>

<%- include('../partials/footer') %>