<%- include('../partials/header') %>

    <section id="show-page">
        <div>Name: <%= income.name %></div>
        <br>
        <div>Date: <%= income.date %></div>
        <br>
        <div>Amount: <%= income.amount %></div>
    </section>

<%- include('../partials/footer') %>