<%- include('../partials/header') %>

    <section id="show-page">
        <h1 id="title">Incomes Details</h1>
        <label>Name:</label>
        <div class="field"><%= income.name %></div>
        <br>
        <label>Date:</label>
        <div class="field"><%= income.date %></div>
        <br>
        <label>Amount:</label>
        <div class="field"> $ <%= income.amount %></div>
    

    <!----------------------------ADD COMMENT-------------------->
        <% if (income.icomments.length) { %>
        <label>Notes</label>
            <% income.icomments.forEach(function(ic) { %>
                <div class="field"><%= ic.content %></div>
            <% }); %>
        <% } %>

        <div id="line"></div>
        <br>
        <form method="POST" action="/incomes/<%= income._id %>/icomments">
            <label>Add Notes:</label>
            <div><textarea name="content"></textarea></div>

            <input class="addC" type="submit" value="Save">
        </form>

        <form action="/expenses">
            <input class="addC"  style="float: right" type="submit" value="Close">
        </form>
    </section>

<%- include('../partials/footer') %>