<%- include('../partials/header') %>

    <section id="show-page">
        <div>Name: </div>
        <div><%= income.name %></div>
        <div>Date: </div>
        <div><%= income.date %></div>
        <div>Amount: </div>
        <div><%= income.amount %></div>
    </section>

<%- include('../partials/footer') %>